:root {
  .modal-mask {
    --modalMaskBackground: rgba(0, 0, 0, 0.3);
  }
  .modal {
    --modalBackground: #ffffff;
    --modalCloseHoverBackground: #f2f2f2;
    --modalCloseActiveBackground: #dddddd;
  }
  &[data-theme="dark"] {
    .modal-mask {
      --modalMaskBackground: rgba(0, 0, 0, 0.3);
    }
    .modal {
      // --modalBackground: #171717;
      --modalBackground: #1d1d1d;
      --modalCloseHoverBackground: #333333;
      --modalCloseActiveBackground: #232323;
    }
  }
}

.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: background 0.2s ease, opacity 0.3s ease;
  background: var(--modalMaskBackground);
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  opacity: 0;
  &[data-show="true"] {
    opacity: 1;
  }
}

.modal {
  box-sizing: border-box;
  position: fixed;
  z-index: 9999;
  top: 50%;
  left: 50%;
  display: flex;
  flex-flow: column;
  background: var(--modalBackground);
  border-radius: 15px;
  transition: background 0.2s ease, opacity 0.3s ease, transform 0.3s ease;
  opacity: 0;
  transform: scale(0.95);
  &[data-show="true"] {
    opacity: 1;
    transform: scale(1);
  }
}

.modal-header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  min-height: 50px;
  padding: 0 15px;
  padding-right: 8px;
}
.modal-title {
  font-size: 14px;
  font-weight: bold;
  color: var(--color);
}
.modal-close {
  @size: 32px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: @size;
  height: @size;
  border-radius: @size;
  font-size: 16px;
  cursor: pointer;
  &:hover {
    background: var(--modalCloseHoverBackground);
  }
  &:active {
    background: var(--modalCloseActiveBackground);
  }
}

.modal-content {
  box-sizing: border-box;
  flex: 1;
  padding: 0 15px;
  overflow-x: hidden;
  overflow-y: auto;
}

.modal-footer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
  height: 50px;
  min-height: 50px;
  padding: 0 15px;
}
